.contact-input{
    border:none;
    border-bottom: 1px solid #ccc;
    border-radius: none;
    outline: none;
    width: 100%;
    padding: .5rem;
    margin: 1rem;
}

.contact-input:focus, .contact-input:active{
    border-bottom: 1px solid #0099ff;
}

form{
    padding: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
}