nav{
    width: 100% !important;
}
.nav-item{
    justify-content: space-between;
    padding: .75rem !important;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color:green !important;
    text-decoration: none;
}

.nav-link{
    text-decoration: none;
    color: green !important;
}

.nav-item>.nav-link:hover{
    background-color: #ccc !important;
    border: ipx solid green !important;
    text-decoration: none;
}

@media only screen and (max-width:560px){
    .nav-btn-res>button{
        display:block;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}