@import url('https://fonts.googleapis.com/css2?family=Lato:wght@500&display=swap');
*{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    list-style: none;
}


.grad {
    background: -webkit-linear-gradient(#eee, #0099ff);
    font-weight: 800;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  
.red-grad {
    background: -webkit-linear-gradient(#eee, red);
    font-weight: 800;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  
.green-grad {
    background: -webkit-linear-gradient(#eee, green);
    font-weight: 800;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media only screen and (max-width:550px){
    .p-5{
        padding: 1rem !important;
    }
}